<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="carosello">

        <button class="btindietro" @click="indietro">indietro</button>

        <div class="flex notvisible" v-for="(carta, i) in carte" :class=" i === currentIndex ? 'active' : '' ">
            <div  class="immagini"><img class="imgdentro" :src=" carta.img " alt=""></div>
        </div>

        <div class="scritte notvisible" v-for="(carta, i) in carte" :class=" i === currentIndex ? 'active' : '' ">
            <h1 >{{ carta.nome }}</h1>
            <p >{{ carta.descrizione }}</p>
        </div>

        <button class="btavanti" @click="avanti">avanti</button>

    </div>
    




    <script src="app.js"></script>
</body>
</html>